body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(120deg, #e0e0e0, #f7f7f7);
  min-height: 100vh;
}


h1, h2 {
  margin-top: 1rem;
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
